#title {
background-color: #ff4c68;
color: #fff;
}


.container-fluid {
  padding: 3% 10% 7%;
}



body {
  font-family: "Montserrat", sans-serif;
}


h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900 !important;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900 !important;
}

/* Features */

h3 {
  font-weight: 800 !important;
}

.bg-color-i:hover {
  color: pink;
}

p {
  color: #8f8f8f;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat" sans-serif;
  font-weight: 300 !important;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}


/* Title Image */

.title-image {
  width: 20%;
  transform: rotate(20deg);
  position: absolute;
  right: 25%;
}

/* Features Section */

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  text-align: center;
}



.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials Section */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  /* The following line is to make the picture round */
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

/* Press Section */

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */


#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
    width: 30%;
  }

  #features {
    position: fixed;
  }

  #title {
    text-align: center;
  }
}

/* Call to Action */



#cta {
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
}

.font-cta {
  font-family: "Montserrat" sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 900 !important;
  padding: 5% 30% 2%;
}

.cta-button {
  margin: 1% 1% 7%;
}

/* Footer */

#footer {
  text-align: center;
  background-color: #fff;
}

.footer-row {
  padding: 5% 45% 1%;
}
